# Virtual Environment:
Fraud_env/

# Python cache & compiled files:
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Model weights & Checkpoints:
*.pth
*.pt
*.bin
checkpoints/

# OS / Editor junk:
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data & Output (tracked by DVC):
Data/Raw/*
!Data/Raw/*.dvc
!Data/Raw/.gitignore
!Data/Raw/.gitkeep

Data/Processed/*
!Data/Processed/*.dvc
!Data/Processed/.gitignore
!Data/Processed/.gitkeep

# MLflow (local tracking):
mlflow.db
mlruns/
NoteBooks/mlruns/

# Jupyter checkpoints:
.ipynb_checkpoints/

